<div flex-md layout-align="center center" class="slide smooth">
  <div flex layout="row" layout-align="center none" layout-wrap>
    <md-card class="card card-1">
      <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Register" layout-padding>
                <registernow></registernow>
            </md-tab>
            <md-tab label="Sign in" layout-padding>
                <signinnow></signinnow>
            </md-tab>
          </md-tabs>
        </md-card>
    </div>
    <div layout="column" layout-fill layout-margin >
      <!-- <div layout="row" layout-align="center">
        <a class="md-button" href="/register" ng-disabled>Need an account?</a>
      </div> -->
      <!-- <div layout="row" layout-align="center end" >
          <img alt="Squala Apps" style="width:230px; height:23px" class="img-responsive text-center" src="../../assets/img/wlogostrip_230x17_1x.png" />
      </div>-->
    </div>
</div>
