<div flex-md layout-align="center center" class="slide smooth">
  <!-- <div layout="column" layout-fill layout-padding>
    <div layout="row" layout-align ="center none" layout-wrap>
      <img alt="SQUALA" style="width:220px; height:50px" class="img-responsive text-center" src="../../assets/img/logo.png" />
    </div>
  </div>-->
    <!-- <h1 hide-xs style="font-weight: normal;" layout="row" layout-fill layout-align ="center center">All of Squala. One account.</h1> -->
  <div flex layout="row" layout-align="center none" layout-wrap layout-padding>
    <md-card class="card card-1">
      <md-card-title>
        <md-card-title-text layout-align="center center">
          <span class="md-headline"><h1 style="color:#555 !important;">Pestle</h1></span>
          <span class="md-subheader">Create, develop & perfect all the recipes you love, all in one place.</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
          <span layout="row" layout-align="end end">
            <a href="/register"><md-button class="md-primary" md-no-ink >Continue</md-button></a>
          </span>
      </md-card-content>
    </md-card>
    </div>
</div>
